.main-container {
  display: flex;
  flex-direction: column;
}

.main-title {
  margin-top: 10px;
  margin-left: 10px;
}

.intro-header {
  text-align: center;
  margin-bottom: 10px;
}

.main-content-area {
  height: 100%;
  display: flex;
  flex: 1;
}

.editor-area {
  height: 100%;
  width: 50%;
}

.iframe-zone {
  width: 50%;
  height: 100%;
}

.compile-button {
  display: relative;
}
